.navbar{
    background-color: rgb(195, 240, 244); 
    width: 60%;
    margin: auto;
    justify-content: center;
   
}
.menu ul{
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 10px;

}
.items{
    color: black;
}
